node_modules
assignment_stock_ticker/companies-1.csv
assignment_stock_ticker/node_mongo_test.js
assignment_stock_ticker/part1_v2.js
assignment_stock_ticker/part1.js
assignment_stock_ticker/part2.js
in_class/mongo_node_test/node_mongo.js